<div id="detailClientModal" class="modal" style="display: none;">
  <div class="modal-content">
    <div class="modal-header">
      <h2>รายละเอียดลูกค้า</h2>
      <span class="close-button" onclick="toggleModal('detailClientModal')">&times;</span>
    </div>
    <div class="modal-body">
      <div id="clientDetailContent">
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="close-button" onclick="toggleModal('detailClientModal')">ปิด</button>
    </div>
  </div>
</div>