<% content_for :title, "Editing client" %>

<div class="page-container">
  <div>
  <%= link_to "Back to clients", clients_path, class: "back-button" %>
</div>
  <div class="page-header">
    <h1 class="page-title">Edit Client</h1>
  </div>

<%= render "form", client: @client %>

<br>


</div>
