<% content_for :title, "New client" %>

<div class="page-container">
  <div class="page-header">

    <h1 class="page-title">New client</h1>
  </div>

  <%= render "form", client: @client %>

  <br>

  <div>
    <%= link_to "Back to clients", clients_path %>
  </div>
</div>
