<% content_for :title, "New client" %>

<div class="page-container">
  <div class="page-header">
    <h1 class="page-title">New client</h1>
  </div>

  <!-- Modal -->
  <div id="newClientModal" class="modal" style="display: block;">
    <div class="modal-content">
      <div class="modal-header">
        <h2>New client</h2>
        <%= link_to "&times;".html_safe, clients_path, class: "close" %>
      </div>
      <div class="modal-body">
        <%= render "form", client: @client %>
      </div>
    </div>
  </div>
</div>
