<% content_for :title, "แก้ไขโปรเจค" %>

<div class="project-form-container">
  <div class="form-header">
    <h1 class="form-title">แก้ไขโปรเจค</h1>
  </div>

  <%= render "form", project: @project %>

  <div class="form-actions">
    <%= link_to "ดูรายละเอียด", @project, class: "action-link show" %>
    <%= link_to "กลับไปหน้าหลัก", projects_path, class: "cancel-button" %>
  </div>
</div>
