<div id="<%= dom_id site %>">
  <p>
    <strong>Site name:</strong>
    <%= site.site_name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= site.location %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= site.client&.client_name %>
  </p>

</div>
