<% content_for :title, "แก้ไขไซต์" %>

<div class="page-container">
  <div class="back-link">
    <%= link_to "Back to Sites", sites_path, class: "back-button" %>
  </div>

  <div class="page-header">
    <h1 class="page-title">Edit Site</h1>
  </div>

  <div class="minimal-form">
    <%= render "form", site: @site %>
  </div>
</div>
