<% content_for :title, "แก้ไขไซต์" %>

<div class="page-container">
  <div class="site-form-header">
    <h1 class="site-form-title">แก้ไขไซต์</h1>
  </div>

  <%= render "form", site: @site %>

  <div class="site-form-actions">
    <%= link_to "ดูรายละเอียด", @site, class: "site-action-link show" %>
    <%= link_to "กลับไปหน้าหลัก", sites_path, class: "site-form-cancel" %>
  </div>
</div>
