<% content_for :title, "เพิ่มไซต์ใหม่" %>

<div class="page-container">
  <div class="page-header">
    <h1 class="page-title">New site</h1>
  </div>

  <%= render "form", site: @site %>

  <div class="form-actions">
    <%= link_to "กลับไปหน้าหลัก", sites_path, class: "site-form-cancel" %>
  </div>
</div>
